:root {
  --lifarsPurple: #6c388e;
  --lifarsDarkPurple: #3d1152;
  --lifarsLightPurple: #c9b6d5;
  --orangeRed: #f3558e;
  --white: #ffffff;
  --orangeYellow: #f9dd94;
  --darkOrangeYellow: #ffc31f;
  --redGrey: #656565;
  --blueGrey: #2b3f48;
  --ice: #e9e4e0;
  --pink: #ca85db;
  --redishWhite: rgba(255, 255, 255, 0.6);
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Varela Round', sans-serif;
  font-size: 10pt;
  font-weight: 300;
  color: var(--redGrey);
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--blueGrey);
}

ul {
  list-style: none;
}

p {
  line-height: 180%;
}

.container {
  overflow: hidden;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button {
  display: inline-block;
  padding: 0em 3em;
  background: var(--lifarsPurple);
  border-radius: 8px;
  letter-spacing: 0.2em;
  line-height: 3em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
  color: var(--white);
  cursor: pointer;
}

.button:before {
  display: inline-block;
  background: var(--darkOrangeYellow);
  margin-right: 1em;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title {
  margin-bottom: 3em;
}

.title h2 {
  text-transform: uppercase;
  font-size: 2.7em;
}

.title .byline {
  font-size: 1.7em;
  color: var(--redGrey);
}

/*********************************************************************************/
/* Boxes                                                                      */
/*********************************************************************************/

.boxA,
.boxB,
.boxC {
  width: 320px;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
  margin: auto;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--lifarsPurple);
  border-bottom: 1px solid black;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/
#menu {
  margin: 0.5em auto;
  margin-right: -12px;
}
#menu ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1em;
}

#menu li a,
#menu li span {
  display: flex;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  cursor: pointer;
}

#menu li:hover a,
#menu li.active a,
#menu li.active span {
  color: var(--blueGrey);
}

#menu .current_page_item a {
  border: 2px solid var(--pink);
  border-radius: 6px;
  color: var(--pink);
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner {
  width: 80vw;
  height: 62vh;
  margin: auto;
  overflow: hidden;
  padding: 5em 1em;
  background: var(--lifarsPurple) url(./images/skull1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  border-radius: 0.5em;
}

#banner .title {
  margin-bottom: 1em;
  color: var(--orangeYellow);
}

#banner .title h2 {
  color: #fff;
}

#banner .title .byline {
  color: var(--redishWhite);
}

#banner .button {
  margin-top: 3em;
  background: var(--lifarsPurple) !important;
}

#banner .button:hover {
  background: var(--darkOrangeYellow) !important;
  color: black;
}

#output {
  color: var(--darkOrangeYellow);
  font-weight: 100;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page {
  padding: 5em 1em;
  text-align: center;
  width: 80vw;
  margin: auto;
  border-radius: 0.5em;
}

#page .button {
  margin-top: 2em;
  display: inline-block;
  text-align: center;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
  overflow: hidden;
  padding: 1em 1em;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  background: var(--lifarsPurple);
  width: 80vw;
  margin: auto;
  color: var(--white);
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

#copyright p {
  text-align: center;
  font-size: 1em;
}

#copyright a {
  text-decoration: none;
  color: var(--white);
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured {
  overflow: hidden;
  padding: 5em 1em;
  background: var(--lifarsPurple);
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  width: 80vw;
  margin: auto;
  border-radius: 0.5em;
}

#featured a {
  color: rgba(255, 255, 255, 1);
}

#featured .button {
  background: var(--white);
  margin-top: 3em;
  font-size: 1em;
  color: var(--pink);
}

#featured .title h2 {
  color: #fff;
}

#featured .title .byline {
  color: rgba(255, 255, 255, 0.6);
}

#three-column {
  display: flex;
  justify-content: space-evenly;
}

.box {
  padding: 3em 2em 2em 2em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  text-align: center;
}

#extra {
  overflow: hidden;
  padding: 5em 1em;
  width: 80vw;
  margin: auto;
}

#extra .title {
  text-align: center;
}

#extra .fa {
  display: block;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 3em;
}

.restricted-container {
  padding: 0 16%;
}

/*********************************************************************************/
/* Results                                                                      */
/*********************************************************************************/

#results {
  overflow: hidden;
  padding: 5em 1em;
  background: var(--lifarsPurple) url(./images/duotone4.png) no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 80vw;
  margin: auto;
  margin-top: 6em;
  border-radius: 0.5em;
}

#results li {
  font-size: 1.3em;
  padding: 0.5em 1em;
  text-align: center;
  color: var(--white);
}

#results h2 {
  color: var(--white);
}

#results .title .byline {
  color: rgba(255, 255, 255, 0.6);
}

.icon-container {
  position: relative;
  bottom: -6px;
  left: -8px;
  font-size: 1.5em;
}
.ul-split {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* **********Spinning Skull************ */

ul a {
  position: relative;
  margin: 0.5em 0;
  color: #444;
  border-radius: 0.3em;
  transition: 0.3s ease-out;
}

ul a:hover {
  background: var(--ice);
}
ul a:hover:before {
  transform: rotate(360deg);
}
ul a:before {
  content: '💀';
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: darkorange;
  background: var(--orangeYellow);
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}

.output {
  padding-left: 0.3em;
  font-size: 1.1em;
  font-weight: 700;
  color: var(--darkOrangeYellow);
}
